 .u-section-1 {
  background-image: url("images/ab75606b-93c5-1201-55d8-c6f6c258b9f6.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 628px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 567px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-form-1 {
  height: 493px;
  margin: 58px 607px 0 10px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-label-1 {
  font-weight: 500;
  text-transform: uppercase;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-label-2 {
  font-weight: 500;
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 500;
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-label-4 {
  font-weight: 500;
  text-transform: uppercase;
}

.u-section-1 .u-input-4 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 14px 0 15px;
}

.u-section-1 .u-image-1 {
  width: 454px;
  height: 454px;
  margin: -473px 31px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 14px 0;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
    margin-top: 0;
    margin-right: 547px;
    margin-left: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 416px;
    height: 416px;
    margin-top: -452px;
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 39px;
    margin-right: 310px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 368px;
    height: 368px;
    margin-right: -41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-right: 238px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-form-1 {
    height: 574px;
    margin-top: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 158px;
    height: 158px;
    margin-top: -761px;
    margin-right: auto;
  }
}