.u-section-1 .u-sheet-1 {
  min-height: 2211px;
}

.u-section-1 .u-image-1 {
  width: 212px;
  height: 197px;
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -172px auto 0 255px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 52px 0 0 255px;
}

.u-section-1 .u-line-1 {
  width: 1075px;
  transform-origin: left center 0px;
  margin: 66px auto 0;
}

.u-section-1 .u-image-2 {
  width: 212px;
  height: 197px;
  margin: 43px auto 0 17px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -181px 0 0 255px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 36px 0 0 255px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 64px 238px 0 17px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0 17px;
}

.u-section-1 .u-image-3 {
  width: 761px;
  height: 331px;
  margin: 33px auto 0 141px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 17px 0 0 17px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1rem;
  margin: 33px 0 0 17px;
}

.u-section-1 .u-image-4 {
  width: 165px;
  height: 165px;
  margin: 59px auto 0 101px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -142px 692px 0 325px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1rem;
  margin: 37px 33px 0 325px;
}

.u-section-1 .u-image-5 {
  width: 165px;
  height: 165px;
  margin: 89px auto 0 101px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -142px 678px 0 325px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1rem;
  margin: 37px 71px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 165px;
  height: 165px;
  margin: 109px auto 0 101px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -133px auto 0 325px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1rem;
  margin: 37px 60px 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 114px auto 0 17px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 26px auto 0 42px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -26px 430px 0 570px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1rem;
  margin: 42px 678px 0 42px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1rem;
  margin: -134px 150px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2298px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -197px;
    margin-left: 249px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 45px;
    margin-left: 241px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 71px;
    margin-right: 55px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 48px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 568px;
    margin-left: 249px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 33px;
    margin-right: 34px;
    margin-left: 241px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 91px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -147px;
    margin-right: 554px;
    margin-left: 249px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 43px;
    margin-right: 12px;
    margin-left: 241px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 86px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -142px;
    margin-left: 252px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 48px;
    margin-right: 0;
    margin-left: 242px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 137px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 52px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 313px;
    margin-left: 488px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 37px;
    margin-right: 483px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 35px;
    margin-left: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2277px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -180px;
    margin-right: 69px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 251px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 63px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 46px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 25px;
    margin-left: 245px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 37px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 32px;
  }

  .u-section-1 .u-image-3 {
    height: 313px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: -26px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 31px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 42px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -155px;
    margin-right: 384px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 42px;
    margin-right: -21px;
    margin-left: 213px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 90px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -136px;
    margin-right: 372px;
    margin-left: 212px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 39px;
    margin-right: 0;
    margin-left: 213px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 74px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -146px;
    margin-left: 212px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 44px;
    margin-right: -22px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 105px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 44px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 221px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 33px;
    margin-right: 379px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -173px;
    margin-right: 3px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3288px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 161px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 65px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: 294px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 123px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: 282px;
    margin-left: 122px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 71px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-left: 159px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 131px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 42px;
    margin-right: 78px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3766px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 44px;
    margin-left: 54px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-top: -6px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 37px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 44px;
    margin-left: 78px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 18px;
    margin-right: 120px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 37px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 32px;
    margin-right: 120px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 44px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 41px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
    margin-top: 54px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 41px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 256px;
    margin-right: 117px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -251px;
    margin-right: 39px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 96px;
    margin-left: 21px;
    margin-right: 21px;
  }
}