.u-section-1 .u-sheet-1 {
  min-height: 2304px;
}

.u-section-1 .u-image-1 {
  width: 212px;
  height: 197px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -180px auto 0 268px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 55px 0 0 268px;
}

.u-section-1 .u-line-1 {
  width: 1080px;
  transform-origin: left center 0px;
  margin: 56px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1rem;
  margin: 41px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  width: 175px;
  height: 175px;
  margin: 41px auto 0 24px;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  margin: -155px 618px 0 240px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1rem;
  margin: 33px 41px 0 240px;
}

.u-section-1 .u-image-3 {
  width: 175px;
  height: 175px;
  margin: 48px auto 0 24px;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  font-weight: 700;
  margin: -149px 710px 0 240px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-size: 1rem;
  margin: 41px 80px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 175px;
  height: 175px;
  margin: 124px auto 0 24px;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  font-weight: 700;
  margin: -175px auto 0 240px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1rem;
  margin: 29px 80px 0 240px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 80px 0 240px;
}

.u-section-1 .u-image-5 {
  width: 175px;
  height: 175px;
  margin: 41px auto 0 24px;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  font-weight: 700;
  margin: -155px 668px 0 240px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1rem;
  margin: 41px 80px 0 240px;
}

.u-section-1 .u-image-6 {
  width: 175px;
  height: 175px;
  margin: 86px auto 0 24px;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  font-weight: 700;
  margin: -175px 586px 0 240px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1rem;
  margin: 33px 76px 0 240px;
}

.u-section-1 .u-image-7 {
  width: 175px;
  height: 175px;
  margin: 39px auto 0 24px;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  font-weight: 700;
  margin: -146px 691px 0 240px;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-size: 1rem;
  margin: 41px 80px 60px 240px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2345px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -160px;
    margin-right: 418px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 45px;
    margin-right: 0;
    margin-left: 235px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -154px;
    margin-right: 515px;
    margin-left: 235px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 0;
    margin-left: 235px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 108px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -147px;
    margin-right: 470px;
    margin-left: 238px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 15px;
    margin-left: 235px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 68px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-right: 391px;
    margin-left: 235px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 235px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 29px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -149px;
    margin-right: 496px;
    margin-left: 235px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-right: 0;
    margin-left: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2747px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -191px;
    margin-right: 115px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 43px;
    margin-left: 255px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-9 {
    width: 282px;
    margin-top: -156px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 27px;
    margin-left: 223px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -158px;
    margin-right: 307px;
    margin-left: 223px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 27px;
    margin-left: 223px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 112px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 219px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 41px;
    margin-right: 22px;
    margin-left: 218px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
    margin-right: 9px;
    margin-left: 231px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 41px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -156px;
    margin-right: 257px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 27px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 63px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 176px;
    margin-left: 230px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 27px;
    margin-left: 230px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -156px;
    margin-right: 280px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 40px;
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 133px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: 217px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 80px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 60px;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 20px;
    margin-right: 167px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 50px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 20px;
    margin-right: 86px;
    margin-left: 140px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 20px;
    margin-right: 190px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4894px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 34px;
    margin-right: 72px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 64px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-left: 48px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 58px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 48px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 24px;
    margin-right: 150px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 37px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 24px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 30px;
    margin-right: 108px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 39px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 33px;
    margin-left: 26px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 34px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 43px;
    margin-right: 131px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: 30px;
    margin-left: 21px;
    margin-right: 21px;
  }
}